In [2]:
# import the pandas package
import pandas as pd

In [3]:
Food = pd.read_csv('Food.csv')
Food.drop(['Unnamed: 0','categories'], axis = 1, inplace = True)
df_business = pd.read_json('business.json', lines = True)
df_business.drop(df_business.columns[6:], axis = 1, inplace = True)
df_business.drop(df_business.columns[1:5], axis = 1, inplace = True)
df = pd.merge(Food, df_business, on='business_id')
df

                  business_id postal_code
0      QXAEGFB4oINsVuTFxEYKFQ     L5R 3E7
1      gnKjwL_1w79qoiV3IC_xQQ       28210
2      1Dfx3zM-rW4n-31KeC8sJg       85016
3      fweCYi8FmbJXHCqLnwuk8w       44060
4      -K4gAv8_vjx8-2BxkVeRkA       44094
...                       ...         ...
74582  h3QErqS3OZgLJ5Tb6-sLyQ     L1V 1C1
74583  KnafX7T6qSAmSrLhd709vA     H2L 1Z1
74584  vIAEWbTJc657yN8I4z7whQ       89123
74585  go-_xdHHSufchOeZ3kkC8w       44121
74586  p1eUTUB_5hf1enoKYBV3DA       44210

[74587 rows x 2 columns]

In [4]:
atts = pd.read_csv('restaurantCleanAtts.csv')
attsDens = pd.read_csv('zipDensityByAtts.csv')
df1 = pd.merge(df,atts, on='business_id')
attsDens = attsDens.rename(columns={"ZIP": "postal_code"})
df2 = pd.merge(df1,attsDens, on='postal_code')
# I find it odd that ~200 entries are not shared between the zipcodes in attsDens and df1.

In [5]:
df2.drop(['Unnamed: 0_x','Unnamed: 0_y'], axis = 1, inplace = True)

In [6]:
df2

,business_id,postal_code,Alcohol,Ambience,BYOBCorkage,BikeParking,BusinessAcceptsBitcoin,BusinessAcceptsCreditCards,BusinessParking,ByAppointmentOnly,...,coloringDENS,extensionsDENS,africanamericanDENS,curlyDENS,kidsDENS,permsDENS,asianDENS,Open24HoursDENS,DietaryRestrictionsDENS,RestaurantsCounterServiceDENS
0,QXAEGFB4oINsVuTFxEYKFQ,L5R 3E7,2,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,HmSVbp9tpqIfqPDRNmI4og,L5R 3E7,0,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,TgVyJm6_YoXIqqfYR2VMKA,L5R 3E7,0,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,icc3AqUJ0Qr5VbMNxfcOlg,L5R 3E7,2,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Wc7Hld-DTJbss8CndeIylw,L5R 3E7,2,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74377,EkkowlqDV1DAktejgKXIxQ,H1V 2B1,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
74378,BL7a0yO7Mq6AY7DRUEpabQ,H3W 2S1,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
74379,Pc0C3Pzf-DwEfJZrkCR3QA,M1R 5B3,0,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
74380,3HAPJH0Qoi8Ix6M9rUMfjg,L6P 3A3,0,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
74381,p1eUTUB_5hf1enoKYBV3DA,44210,2,0,0,1,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
cats = pd.read_csv('NoFilterCats1Percent.csv')
df3 = pd.merge(df2, cats, on='business_id')

In [8]:
df3

,business_id,postal_code,Alcohol,Ambience,BYOBCorkage,BikeParking,BusinessAcceptsBitcoin,BusinessAcceptsCreditCards,BusinessParking,ByAppointmentOnly,...,Grocery,Ice Cream & Frozen Yogurt,Italian,Japanese,Mexican,Nightlife,Pizza,Restaurants,Sandwiches,Specialty Food
0,QXAEGFB4oINsVuTFxEYKFQ,L5R 3E7,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,HmSVbp9tpqIfqPDRNmI4og,L5R 3E7,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,TgVyJm6_YoXIqqfYR2VMKA,L5R 3E7,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,icc3AqUJ0Qr5VbMNxfcOlg,L5R 3E7,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,Wc7Hld-DTJbss8CndeIylw,L5R 3E7,2,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74377,EkkowlqDV1DAktejgKXIxQ,H1V 2B1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
74378,BL7a0yO7Mq6AY7DRUEpabQ,H3W 2S1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74379,Pc0C3Pzf-DwEfJZrkCR3QA,M1R 5B3,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
74380,3HAPJH0Qoi8Ix6M9rUMfjg,L6P 3A3,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
74381,p1eUTUB_5hf1enoKYBV3DA,44210,2,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0

In [9]:
# this has the total # of reviewed companies in a zipcode
ZipD = pd.DataFrame(pd.read_csv('rDensityCode.csv'))
missingValue1 = ZipD.columns[0]
missingValue2 = ZipD.columns[1]
ZipD.columns = ['postal_code', 'density']
ZipD = ZipD.append({'postal_code':missingValue1,'density':missingValue2},ignore_index=True)
df4 = pd.merge(df3,ZipD,on='postal_code')

In [10]:
pcodes = df4['postal_code']

In [11]:
INTCodes = []
for x in pcodes:
    try: 
        int(x)
        if x not in INTCodes:
            INTCodes.append(x)
    except:
        continue

In [12]:
df5 = df4[df4['postal_code'].isin(INTCodes)]

In [12]:
sparseIndex = []
for row in df5.index:
    if int(df5.loc[row,'density']) < 100:
        sparseIndex.append(row)
df6 = df5.drop(sparseIndex, axis = 0)

In [13]:
df6

,business_id,postal_code,Alcohol,Ambience,BYOBCorkage,BikeParking,BusinessAcceptsBitcoin,BusinessAcceptsCreditCards,BusinessParking,ByAppointmentOnly,...,Ice Cream & Frozen Yogurt,Italian,Japanese,Mexican,Nightlife,Pizza,Restaurants,Sandwiches,Specialty Food,density
7,gnKjwL_1w79qoiV3IC_xQQ,28210,1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,347
8,vlLHfWn-Gyyfnh5Lp_kJsg,28210,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,347
9,U8ubLSxnCKRAJRmN1XWZaA,28210,2,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,347
10,14lFMDFnyPhXnPXgS4rlvg,28210,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,347
11,b42EKdSk61zd_FEqEwioYQ,28210,2,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,347
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57078,IIZAcmSG5Jqu7amU2eIdug,85378,2,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,113
57079,SvwqydYYKQGPaosBzXi5Pg,85378,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,113
57080,3IzlRFccx0EPNEcGXx7UCw,85378,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,113
57081,2TOHBzm9VpZyZx73LanN9w,85378,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,113
57082,MPIA4kgAhTIlCZlTzw3RvA,85378,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,113

In [14]:
for x in df6.index:
    df6.loc[x,'postal_code'] = int(df6.loc[x,'postal_code'])

In [15]:
irs17 = pd.read_csv('IRS17Calcs.csv')
irs17 = irs17.rename(columns={"zipcode": "postal_code"})
df7 = pd.merge(df6,irs17, on='postal_code')
# Note, another ~100 rows lost

In [16]:
df7.drop(['Unnamed: 0_x','Unnamed: 0_y'], axis = 1, inplace = True)

In [17]:
df7

,business_id,postal_code,Alcohol,Ambience,BYOBCorkage,BikeParking,BusinessAcceptsBitcoin,BusinessAcceptsCreditCards,BusinessParking,ByAppointmentOnly,...,Restaurants,Sandwiches,Specialty Food,density,Avg Adj Gross Income,%Elderly,%Single,%Joint,%HeadofH,avgDep
0,gnKjwL_1w79qoiV3IC_xQQ,28210,1,0,0,1,0,1,0,0,...,0,0,0,347,107.457389,0.229819,0.528893,0.326864,0.122629,0.512131
1,vlLHfWn-Gyyfnh5Lp_kJsg,28210,0,0,0,0,0,1,0,0,...,1,0,0,347,107.457389,0.229819,0.528893,0.326864,0.122629,0.512131
2,U8ubLSxnCKRAJRmN1XWZaA,28210,2,0,0,1,0,1,0,0,...,0,0,0,347,107.457389,0.229819,0.528893,0.326864,0.122629,0.512131
3,14lFMDFnyPhXnPXgS4rlvg,28210,0,0,0,0,0,1,0,0,...,0,0,0,347,107.457389,0.229819,0.528893,0.326864,0.122629,0.512131
4,b42EKdSk61zd_FEqEwioYQ,28210,2,0,0,1,0,1,0,0,...,0,0,0,347,107.457389,0.229819,0.528893,0.326864,0.122629,0.512131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42293,yhdhklGlRsoeW-x7A_pVmw,85019,0,0,0,0,0,1,0,0,...,0,0,0,120,31.384144,0.118677,0.422179,0.251946,0.319066,1.130350
42294,J2yHV9KNwBHD7bnGMANCpw,85019,0,0,0,1,0,1,0,0,...,0,0,0,120,31.384144,0.118677,0.422179,0.251946,0.319066,1.130350
42295,sByhyN_S2FgNnPl5pqY0Ow,85019,0,0,0,1,0,1,0,0,...,1,0,0,120,31.384144,0.118677,0.422179,0.251946,0.319066,1.130350
42296,R8ior7Wkm44dBRlFIhUVsg,85019,0,0,0,1,0,1,0,0,...,0,0,0,120,31.384144,0.118677,0.422179,0.251946,0.319066,1.130350
42297,qgrHmYCDo6OxNNF-hKGJRQ,85019,0,0,0,1,0,1,0,0,...,0,0,0,120,31.384144,0.118677,0.422179,0.251946,0.319066,1.130350

In [23]:
demo = pd.read_csv('demo18_2.2.csv')
demo.drop('Unnamed: 0', axis = 1, inplace = True)
demo = demo.rename(columns={"zip": "postal_code"})
df8 = pd.merge(df7,demo, on ='postal_code')

In [22]:
df8

,business_id,postal_code,Alcohol,Ambience,BYOBCorkage,BikeParking,BusinessAcceptsBitcoin,BusinessAcceptsCreditCards,BusinessParking,ByAppointmentOnly,...,avgDep,TOT_POP,%male,%female,%white,%AfrAmerican,%AmIndian,%Asian,%Pacific,%multiracial
0,gnKjwL_1w79qoiV3IC_xQQ,28210,1,0,0,1,0,1,0,0,...,0.512131,1093901,0.480861,0.519139,0.594716,0.344601,0.015256,0.070444,0.001929,0.023974
1,vlLHfWn-Gyyfnh5Lp_kJsg,28210,0,0,0,0,0,1,0,0,...,0.512131,1093901,0.480861,0.519139,0.594716,0.344601,0.015256,0.070444,0.001929,0.023974
2,U8ubLSxnCKRAJRmN1XWZaA,28210,2,0,0,1,0,1,0,0,...,0.512131,1093901,0.480861,0.519139,0.594716,0.344601,0.015256,0.070444,0.001929,0.023974
3,14lFMDFnyPhXnPXgS4rlvg,28210,0,0,0,0,0,1,0,0,...,0.512131,1093901,0.480861,0.519139,0.594716,0.344601,0.015256,0.070444,0.001929,0.023974
4,b42EKdSk61zd_FEqEwioYQ,28210,2,0,0,1,0,1,0,0,...,0.512131,1093901,0.480861,0.519139,0.594716,0.344601,0.015256,0.070444,0.001929,0.023974
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42293,yhdhklGlRsoeW-x7A_pVmw,85019,0,0,0,0,0,1,0,0,...,1.130350,4410824,0.494628,0.505372,0.857589,0.075396,0.036677,0.057660,0.005314,0.029960
42294,J2yHV9KNwBHD7bnGMANCpw,85019,0,0,0,1,0,1,0,0,...,1.130350,4410824,0.494628,0.505372,0.857589,0.075396,0.036677,0.057660,0.005314,0.029960
42295,sByhyN_S2FgNnPl5pqY0Ow,85019,0,0,0,1,0,1,0,0,...,1.130350,4410824,0.494628,0.505372,0.857589,0.075396,0.036677,0.057660,0.005314,0.029960
42296,R8ior7Wkm44dBRlFIhUVsg,85019,0,0,0,1,0,1,0,0,...,1.130350,4410824,0.494628,0.505372,0.857589,0.075396,0.036677,0.057660,0.005314,0.029960
42297,qgrHmYCDo6OxNNF-hKGJRQ,85019,0,0,0,1,0,1,0,0,...,1.130350,4410824,0.494628,0.505372,0.857589,0.075396,0.036677,0.057660,0.005314,0.029960

In [24]:
df8.to_csv('IndependentMatrix.csv')